body{
    background-color:pink;
    text-align:center;
    font-family: 'Courgette', cursive;
    font-size:15px;

}
#try{
    border-width:2px;
    border-color:black;
    background-color:#f08bc8;
    color:black;
    border-radius:10px;
    height:30px;
}
